<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>District</title>
  <link rel="stylesheet" type="text/css" href="district-style.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet"> 

</head>
<body>
  
<div class="head">
  <h1 class="brand"><span style="color:  #f93b3b;">Covid-19</span> India</h1>

  <h1 class="countryName"> <%= state.stateName %> </h1>
</div>
<div class="leftBox" style="margin-left: 20%;">
  <table>
      <tr class="heading">
          <th>DISTRICT</th>
          <th>CONFIRMED</th> 
          <th>DECEASED</th>
          <th>RECOVERED</th>
      </tr>
        <% for(var i=0; i < arr.length; i++){ %>
          <% if(arr[i].stateCode === 'TT'){ %>

          <% } else { %>
              <tr>
                  <td> <%= arr[i].districtName %> </td>
                  <td style="color: #ad7cee;"> <%= arr[i].disConfirmed%> </td>
                  <td style="color: #f8c364;"> <%= arr[i].disDeceased %> </td>
                  <td style="color: #5fef49;"> <%= arr[i].disRecovered %> </td>
              </tr>       
          <% } %>
        <% } %>
  </table>
</div>
<div class="footer-div">
  <div class="footer-content">
      <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports">    
          <img src="https://www.freelogovectors.net/wp-content/uploads/2016/12/who-logo-world-health-organization-logo.png" alt="AAAAAAAAAAA" style="width: 160px; height: 160px;">
      </a>    
  </div>
  <div class="footer-content" style="margin-left: 30%;">
      <a href="https://www.icmr.gov.in/">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a3/Indian_Council_of_Medical_Research_Logo.svg/220px-Indian_Council_of_Medical_Research_Logo.svg.png" alt="" style="width: 160px; height: 80px; top: 40px; position: relative;">
      </a>
  </div>
  <div class="footer-content" style="margin-left: 30%;">
      <p style="margin-bottom: 0; font-weight: bolder;">Surya Dana</p>
      <a href="https://www.linkedin.com/in/surya-dana-4787271b1/"><img src="https://ox-prod.imgix.net/uploads/2017/04/linkedin_logo.jpg?auto=compress" alt="" style="width: 100px; height: 100px;"></a>
  </div>
</div>

</body>
</html>